<body>
{{#each books}}
<div class="book m-4" style="display: center;">
  <div class="row g-0">
    <div class="col-md-1 col-sm-1 align-self-center">
      <img src="{{this.image}}" class="img-fluid" alt="{{this.title}}">
    </div>
    <div class="col-md-6 col-sm-8">
      <div class="book-info" style="padding-left:10px ;">
        <h5 class="book-title">{{this.title}}</h5>
        <p class="book-desc">{{this.description}}<p>
      </div>
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="book-action">
        <a href="/returnBook/{{this._id}}" class="btn btn-primary">Return</a>
      </div>
    </div>
  </div>
</div>
<hr/>
{{/each}}
</body>